<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do list</title>
    <link rel="stylesheet" href="ToDoSite/assests/styles/style.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainContainer">
        <img src="/assests/images/pexels-breakingpic-3299.jpg" alt="" class="theimg">
        <div class="middle-div">
            <input type="text" placeholder="Enter to do" class="textbox">
            <button class="add-btn" onclick="addToDo()">Add To Do</button>

        </div>

        <div class="bottomdiv" id="bottomdiv">
        </div>



    </div>








    <script src="/scripts/index.js"></script>
</body>
</html>
